openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      description: Запрос позволяет получить список станций, находящихся в указанном радиусе от указанной точки. Максимальное количество возвращаемых станций — 50.
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/thread/:
    get:
      tags:
      - getRoute
      operationId: getRoute
      summary: Получение информации о нитке маршрута
      description: Запрашивает информацию о нитке маршрута, используя идентификатор нитки (UID).
        Дополнительно могут быть указаны параметры, такие как станция отправления, станция назначения, формат данных, язык и дата.
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: Ключ доступа к API.
        - name: uid
          in: query
          required: true
          schema:
            type: string
          description: Идентификатор нитки маршрута.
        - name: from
          in: query
          schema:
            type: string
          description: Код станции отправления.
        - name: to
          in: query
          schema:
            type: string
          description: Код станции назначения.
        - name: format
          in: query
          schema:
            type: string
          description: json или xml
        - name: lang
          in: query
          schema:
            type: string
          description: Язык, на котором возвращаются данные.
        - name: date
          in: query
          schema:
            type: string
          description: Дата, для которой запрашивается информация.
        - name: show_systems
          in: query
          schema:
            type: array
            items:
              type: string
          description: Коды систем, которые должны быть включены в ответ.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
  /v3.0/nearest_settlement:
    get:
      tags:
      - getCity
      operationId: getCity
      summary: Запрос позволяет получить информацию о ближайшем к указанной точке городе.
      description: Возвращает информацию о ближайшем к указанной точке городе относительно заданных координат.
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: Ключ доступа к API.
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Широта точки.
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Долгота точки.
        - name: distance
          in: query
          required: false
          schema:
            type: integer
          description: Радиус охвата в метрах.
        - name: lang
          in: query
          required: false
          schema:
            type: string
            enum: [ru, en]
          description: Язык ответа.
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, xml]
          description: Формат ответа.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/City'
  /v3.0//carrier:
    get:
      tags:
      - getCarriers
      operationId: getCarriers
      summary: Получение информации о перевозчике
      description: Запрашивает информацию о перевозчике по заданному коду перевозчика.
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: format
          in: query
          required: false
          schema:
            type: string
        - name: lang
          in: query
          required: false
          schema:
            type: string
        - name: system
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Carriers'
components:
  schemas:
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    Route:
      type: object
      properties:
        except_days:
          type: string
        arrival_date:
          type: string
          nullable: true
        from:
          type: string
          nullable: true
        uid:
          type: string
        title:
          type: string
        interval:
          type: object
          properties:
            density:
              type: string
            end_time:
              type: string
            begin_time:
              type: string
        departure_date:
          type: string
          nullable: true
        start_time:
          type: string
        number:
          type: string
        short_title:
          type: string
        days:
          type: string
        to:
          type: string
          nullable: true
        carrier:
          type: object
          properties:
            code:
              type: integer
            offices:
              type: array
              items: {}
            codes:
              type: object
              properties:
                icao:
                  type: string
                  nullable: true
                sirena:
                  type: string
                  nullable: true
                iata:
                  type: string
                  nullable: true
            title:
              type: string
        transport_type:
          type: string
        stops:
          type: array
          items:
            type: object
            properties:
              arrival:
                type: string
                nullable: true
              departure:
                type: string
              terminal:
                type: string
                nullable: true
              platform:
                type: string
              station:
                type: object
                properties:
                  codes:
                    type: object
                    properties:
                      express:
                        type: string
                      yandex:
                        type: string
                      esr:
                        type: string
                  title:
                    type: string
                  popular_title:
                    type: string
                  short_title:
                    type: string
                  code:
                    type: string
                  type:
                    type: string
              stop_time:
                type: string
                nullable: true
              duration:
                type: number
        vehicle:
          type: object
          nullable: true
        start_date:
          type: string
        transport_subtype:
          type: object
          properties:
            color:
              type: string
            code:
              type: string
            title:
              type: string
        express_type:
          type: object
          nullable: true
    City:
      type: object
      properties:
        distance:
          type: number
          format: double
          description: Расстояние до найденного города, в километрах.
        code:
          type: string
          description: Код города в системе кодирования Яндекс Расписаний.
        title:
          type: string
          description: Название города.
        popular_title:
          type: string
          description: Общепринятое название города.
        short_title:
          type: string
          description: Краткое название города.
        lat:
          type: number
          format: double
          description: Широта, на которой находится город.
        lng:
          type: number
          format: double
          description: Долгота, на которой находится город.
        type:
          type: string
          description: Тип транспортного пункта (station — станция, settlement — поселение)
          example: settlement
    Carriers:
      type: object
      properties:
        carriers:
          type: array
          items:
            $ref: '#/components/schemas/Carrier'
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          type: object
          properties:
            icao:
              type: string
              nullable: true
            sirena:
              type: string
              nullable: true
            iata:
              type: string
        address:
          type: string
        logo:
          type: string
        email:
          type: string
