openapi: 3.0.3
info:
  title: API.Rasp.Yandex.Net
  description: API Яндекс.Расписаний
  version: 3.0.0
servers:
- url: https://api.rasp.yandex.net
paths:
  /v3.0/nearest_stations/:
    get:
      tags:
      - getNearestStations
      summary: Список ближайших станций
      operationId: getNearestStations
      description: Запрос позволяет получить список станций, находящихся в указанном радиусе от указанной точки. Максимальное количество возвращаемых станций — 50.
      parameters:
      - name: apikey
        in: query
        description: API key
        required: true
        schema:
          type: string
      - name: lat
        in: query
        description: широта
        required: true
        schema:
          type: number
      - name: lng
        in: query
        description: долгота
        required: true
        schema:
          type: number
      - name: distance
        in: query
        description: радиус охвата
        required: true
        schema:
          type: integer
      - name: format
        in: query
        description: json или xml
        required: false
        schema:
          type: string
      - name: lang
        in: query
        description: lang
        required: false
        schema:
          type: string
      responses:
        "200":
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stations'
  /v3.0/thread/:
    get:
      tags:
      - getRoute
      operationId: getRoute
      summary: Получение информации о нитке маршрута
      description: Запрашивает информацию о нитке маршрута, используя идентификатор нитки (UID).
        Дополнительно могут быть указаны параметры, такие как станция отправления, станция назначения, формат данных, язык и дата.
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: Ключ доступа к API.
        - name: uid
          in: query
          required: true
          schema:
            type: string
          description: Идентификатор нитки маршрута.
        - name: from
          in: query
          schema:
            type: string
          description: Код станции отправления.
        - name: to
          in: query
          schema:
            type: string
          description: Код станции назначения.
        - name: format
          in: query
          schema:
            type: string
          description: json или xml
        - name: lang
          in: query
          schema:
            type: string
          description: Язык, на котором возвращаются данные.
        - name: date
          in: query
          schema:
            type: string
          description: Дата, для которой запрашивается информация.
        - name: show_systems
          in: query
          schema:
            type: array
            items:
              type: string
          description: Коды систем, которые должны быть включены в ответ.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Route'
  /v3.0/nearest_settlement:
    get:
      tags:
      - getCity
      operationId: getCity
      summary: Запрос позволяет получить информацию о ближайшем к указанной точке городе.
      description: Возвращает информацию о ближайшем к указанной точке городе относительно заданных координат.
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: Ключ доступа к API.
        - name: lat
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Широта точки.
        - name: lng
          in: query
          required: true
          schema:
            type: number
            format: double
          description: Долгота точки.
        - name: distance
          in: query
          required: false
          schema:
            type: integer
          description: Радиус охвата в метрах.
        - name: lang
          in: query
          required: false
          schema:
            type: string
            enum: [ru, en]
          description: Язык ответа.
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json, xml]
          description: Формат ответа.
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/City'
  /v3.0/carrier:
    get:
      tags:
      - getCarriers
      operationId: getCarriers
      summary: Получение информации о перевозчике
      description: Запрашивает информацию о перевозчике по заданному коду перевозчика.
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
        - name: code
          in: query
          required: true
          schema:
            type: integer
        - name: format
          in: query
          required: false
          schema:
            type: string
        - name: lang
          in: query
          required: false
          schema:
            type: string
        - name: system
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarrierResponse'
  /v3.0/schedule:
    get:
      tags:
      - getSchedule
      operationId: getSchedule
      summary: Получение расписания по станции
      description: Позволяет получить список рейсов, отправляющихся от указанной станции и информацию по каждому рейсу.
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
          description: Ключ доступа к API
        - name: station
          in: query
          required: true
          schema:
            type: string
          description: Код станции
        - name: lang
          in: query
          schema:
            type: string
            default: ru
          description: Язык представления данных
        - name: format
          in: query
          schema:
            type: string
            enum: ['json', 'xml']
            default: json
          description: Формат возвращаемых данных
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: Дата, на которую необходимо получить список рейсов. Должна быть указана в формате, соответствующем стандарту ISO 8601. Например, YYYY-MM-DD.
        - name: transport_types
          in: query
          schema:
            type: string
            enum: ["plane", "train", "suburban", "bus", "water", "helicopter"]
          description: Типы транспорта, для которых нужно получить расписание
        - name: event
          in: query
          schema:
            type: string
            enum: ['arrival', 'departure']
          description: Событие (прибытие или отправление)
        - name: system
          in: query
          schema:
            type: string
            enum: ['yandex', 'iata', 'sirena', 'express', 'esr']
          description: Система кодирования, в которой указывается код станции (параметр station) в запросе
        - name: show_systems
          in: query
          schema:
            type: string
            enum: ['yandex', 'esr', 'all']
          description: Система кодирования, в которой необходимо получить коды станций в элементе ответа codes, вложенном в элемент station
        - name: direction
          in: query
          schema:
            type: string
          description: Код направления, по которому необходимо получить список рейсов электричек по станции (например, «arrival», «all» или «на Москву»).
        - name: result_timezone
          in: query
          schema:
            type: string
          description: Часовой пояс, для которого следует указывать даты и времена в ответе. Если параметр не передан, каждая дата и время в ответе будут указаны в часовом поясе соответствующей станции.
      responses:
        '200':
          description: Успешный ответ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
  /v3.0/search:
    get:
      tags:
      - getRouteList
      operationId: getRouteList
      summary: Получение информации о рейсах между станциями
      description: Запрос позволяет получить список рейсов, следующих от указанной станции отправления к указанной станции прибытия и информацию по каждому рейсу.
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
          description: Код станции отправления
        - name: to
          in: query
          required: true
          schema:
            type: string
          description: Код станции прибытия
        - name: format
          in: query
          schema:
            type: string
            enum: [xml, json]
          description: Формат ответа (XML или JSON)
        - name: lang
          in: query
          schema:
            type: string
          description: Язык ответа
        - name: apikey
          in: query
          schema:
            type: string
          description: Ключ доступа к API
        - name: date
          in: query
          schema:
            type: string
            format: date
          description: Дата поиска рейсов
        - name: transport_types
          in: query
          schema:
            type: array
            items:
              type: string
          description: Типы транспорта для поиска
        - name: system
          in: query
          schema:
            type: string
          description: Система кодирования параметров to и from
        - name: show_systems
          in: query
          schema:
            type: string
          description: Система кодирования для ответа
        - name: offset
          in: query
          schema:
            type: integer
          description: Сдвиг относительно первого рейса в ответе
        - name: limit
          in: query
          schema:
            type: integer
          description: Ограничение на количество рейсов в ответе
        - name: add_days_mask
          in: query
          schema:
            type: string
          description: Запрос календаря хождения рейсов
        - name: result_timezone
          in: query
          schema:
            type: string
          description: Часовой пояс
        - name: transfers
          in: query
          schema:
            type: boolean
          description: Признак запроса маршрутов с пересадками
      responses:
        '200':
          description: sucess
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
  /v3.0/stations_list:
    get:
      tags:
      - getStationsList
      operationId: getStationsList
      summary: Получение списка станций
      description: Ресурс содержит полный список станций, информацию о которых предоставляют Яндекс Расписания. Список структурирован географически; ответ содержит список стран со вложенными списками регионов и населенных пунктов, в которых находятся станции.
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
        - name: format
          in: query
          required: false
          schema:
            type: string
        - name: lang
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            text/html:
              schema:
                $ref: '#/components/schemas/StationsList'
  /v3.0/copyright:
    get:
      tags:
      - getCopyright
      operationId: getCopyright
      summary: Получение информации об авторских правах
      description: Запрос позволяет получить данные о Яндекс Расписаниях - URL сервиса, баннер в различных цветовых представлениях и уведомительный текст
      parameters:
        - name: apikey
          in: query
          required: true
          schema:
            type: string
        - name: format
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Copyright'
components:
  schemas:
    Copyright:
      type: object
      properties:
        copyright:
          type: object
          properties:
            logo_vm:
              type: string
            url:
              type: string
            logo_vd:
              type: string
            logo_hy:
              type: string
            logo_hd:
              type: string
            logo_vy:
              type: string
            logo_hm:
              type: string
            text:
              type: string
    StationsList:
      type: object
      properties:
        countries:
          type: array
          items:
            $ref: '#/components/schemas/Country'
    CountiesCodes:
      type: object
      properties:
        esr_code:
          type: string
        yandex_code:
          type: string
    Country:
      type: object
      properties:
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
        codes:
          $ref: '#/components/schemas/CountiesCodes'
        title:
          type: string
    Region:
      type: object
      properties:
        settlements:
          type: array
          items:
            $ref: '#/components/schemas/Settlement'
        codes:
          $ref: '#/components/schemas/CountiesCodes'
        title:
          type: string
    Settlement:
      type: object
      properties:
        stations:
          type: array
          items:
            $ref: '#/components/schemas/SettlementStations'
        codes:
          $ref: '#/components/schemas/CountiesCodes'
        title:
          type: string
    SettlementStations:
      type: object
      properties:
        direction:
          type: string
        codes:
          $ref: '#/components/schemas/CountiesCodes'
        station_type:
          type: string
        title:
          type: string
    SearchResponse:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        interval_segments:
          type: array
          items:
            type: object
            properties:
              from:
                $ref: '#/components/schemas/StationInfo'
              thread:
                type: object
                properties:
                  uid:
                    type: string
                  title:
                    type: string
                  interval:
                    type: object
                    properties:
                      density:
                        type: string
                      end_time:
                        $ref: '#/components/schemas/DateTimeString'
                      begin_time:
                        $ref: '#/components/schemas/DateTimeString'
                  number:
                    type: string
                  short_title:
                    type: string
                  thread_method_link:
                    type: string
                  carrier:
                    $ref: '#/components/schemas/CarrierInfo'
                  transport_type:
                    type: string
                  vehicle:
                    type: string
                  transport_subtype:
                    $ref: '#/components/schemas/TransportSubtype'
                  express_type:
                    type: string
              has_transfers:
                type: boolean
              tickets_info:
                $ref: '#/components/schemas/TicketsInfo'
              duration:
                type: integer
              arrival_terminal:
                type: string
              start_date:
                type: string
                format: date
              arrival_platform:
                type: string
        segments:
          type: array
          items:
            type: object
            properties:
              arrival:
                $ref: '#/components/schemas/DateTimeString'
              from:
                $ref: '#/components/schemas/StationInfo'
              thread:
                type: object
                properties:
                  uid:
                    type: string
                  title:
                    type: string
                  number:
                    type: string
                  short_title:
                    type: string
                  thread_method_link:
                    type: string
                  carrier:
                    $ref: '#/components/schemas/CarrierInfo'
                  transport_type:
                    type: string
                  vehicle:
                    type: string
                  transport_subtype:
                    $ref: '#/components/schemas/TransportSubtype'
                  express_type:
                    type: string
              departure_platform:
                type: string
              departure:
                $ref: '#/components/schemas/DateTimeString'
              to:
                $ref: '#/components/schemas/StationInfo'
              has_transfers:
                type: boolean
              tickets_info:
                $ref: '#/components/schemas/TicketsInfo'
              duration:
                type: integer
              arrival_terminal:
                type: string
              start_date:
                type: string
                format: date
              arrival_platform:
                type: string
        search:
          type: object
          properties:
            date:
              type: string
              format: date
            to:
              $ref: '#/components/schemas/SearchPoint'
            from:
              $ref: '#/components/schemas/SearchPoint'
    TransportSubtype:
      type: object
      properties:
        color:
          type: string
        code:
          type: string
        title:
          type: string
    StationInfo:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        transport_type:
          type: string
        station_type:
          type: string
        station_type_name:
          type: string
    CarrierInfo:
        type: object
        properties:
          code:
            type: integer
          contacts:
            type: string
          url:
            type: string
          title:
            type: string
          address:
            type: string
          email:
            type: string
          logo:
            type: string
    SearchPoint:
      type: object
      properties:
        code:
          type: string
        type:
          type: string
        popular_title:
          type: string
        short_title:
          type: string
        title:
          type: string
    TicketsInfo:
      type: object
      properties:
        et_marker:
          type: boolean
        places:
          $ref: '#/components/schemas/Places'
    Places:
      type: array
      items:
        type: object
        properties:
          currency:
            type: string
          price:
            type: object
            properties:
              cents:
                type: integer
              whole:
                type: integer
          name:
            type: string
    Stations:
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/Pagination'
        stations:
          type: array
          items:
            $ref: '#/components/schemas/Station'
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
    Station:
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        short_title:
          type: string
        popular_title:
          type: string
        code:
          type: string
        lat:
          type: number
        lng:
          type: number
        station_type:
          type: string
        station_type_name:
          type: string
        transport_type:
          type: string
        distance:
          type: number
        majority:
          type: integer
        type_choices:
          $ref: '#/components/schemas/Schedule'
    Schedule:
      type: object
      properties:
        desktop_url:
          type: string
        touch_url:
          type: string
    Route:
      type: object
      properties:
        except_days:
          type: string
        arrival_date:
          type: string
          nullable: true
        from:
          type: string
          nullable: true
        uid:
          type: string
        title:
          type: string
        interval:
          type: object
          properties:
            density:
              type: string
            end_time:
              type: string
            begin_time:
              type: string
        departure_date:
          type: string
          nullable: true
        start_time:
          type: string
        number:
          type: string
        short_title:
          type: string
        days:
          type: string
        to:
          type: string
          nullable: true
        carrier:
          type: object
          properties:
            code:
              type: integer
            offices:
              type: array
              items: {}
            codes:
              $ref: '#/components/schemas/Codes'
            title:
              type: string
        transport_type:
          type: string
        stops:
          type: array
          items:
            type: object
            properties:
              arrival:
                type: string
                nullable: true
              departure:
                type: string
              terminal:
                type: string
                nullable: true
              platform:
                type: string
              station:
                type: object
                properties:
                  codes:
                    type: object
                    properties:
                      express:
                        type: string
                      yandex:
                        type: string
                      esr:
                        type: string
                  title:
                    type: string
                  popular_title:
                    type: string
                  short_title:
                    type: string
                  code:
                    type: string
                  type:
                    type: string
              stop_time:
                type: string
                nullable: true
              duration:
                type: number
        vehicle:
          type: object
          nullable: true
        start_date:
          type: string
        transport_subtype:
          $ref: '#/components/schemas/TransportSubtype'
        express_type:
          type: object
          nullable: true
    City:
      type: object
      properties:
        distance:
          type: number
          format: double
          description: Расстояние до найденного города, в километрах.
        code:
          type: string
          description: Код города в системе кодирования Яндекс Расписаний.
        title:
          type: string
          description: Название города.
        popular_title:
          type: string
          description: Общепринятое название города.
        short_title:
          type: string
          description: Краткое название города.
        lat:
          type: number
          format: double
          description: Широта, на которой находится город.
        lng:
          type: number
          format: double
          description: Долгота, на которой находится город.
        type:
          type: string
          description: Тип транспортного пункта (station — станция, settlement — поселение)
          example: settlement
    CarrierResponse:
      type: object
      properties:
        carrier:
          $ref: '#/components/schemas/Carrier'
    Carrier:
      type: object
      properties:
        code:
          type: integer
        contacts:
          type: string
        url:
          type: string
        title:
          type: string
        phone:
          type: string
        codes:
          $ref: '#/components/schemas/Codes'
        address:
          type: string
        logo:
          type: string
        email:
          type: string
    Codes:
      type: object
      properties:
        icao:
          type: string
          nullable: true
        sirena:
          type: string
          nullable: true
        iata:
          type: string
          nullable: true
    DateTimeString:
      type: string
      format: date-time
    ScheduleItem:
      type: object
      properties:
        except_days:
          type: string
        arrival:
          $ref: '#/components/schemas/DateTimeString'
        thread:
          $ref: '#/components/schemas/Route'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        departure:
          $ref: '#/components/schemas/DateTimeString'
        terminal:
          type: string
        platform:
          type: string
    IntervalScheduleItem:
      type: object
      properties:
        except_days:
          type: string
        thread:
          $ref: '#/components/schemas/Route'
        is_fuzzy:
          type: boolean
        days:
          type: string
        stops:
          type: string
        terminal:
          type: string
        platform:
          type: string
    Direction:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
    ScheduleResponse:
      type: object
      properties:
        date:
          type: string
          format: date
        pagination:
          $ref: '#/components/schemas/Pagination'
        station:
          $ref: '#/components/schemas/Station'
        schedule:
          type: array
          items:
            $ref: '#/components/schemas/ScheduleItem'
        interval_schedule:
          type: array
          items:
            $ref: '#/components/schemas/IntervalScheduleItem'
        schedule_direction:
          $ref: '#/components/schemas/Direction'
        directions:
          type: array
          items:
            $ref: '#/components/schemas/Direction'
